# IntelliJ project files
.idea
out
gen

files
build
/chromedriver.exe
chromedriver
logs

.gradle
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

config.properties

/*.jar
/articles
*.iml
*.wav

/logo.png